@font-face {
  src: url(ppp.ttf);
  font-family: nom;

}

.KIR{
  padding: 76px;
  border: 25px;
  border-style: solid;
  border-color: rgb(595, 55, 91);
  margin: 40px;
  width: 2000px;
  height: 1000px;
  background-color: lightgreen;
  text-align: center;

  #myContainer {
    position: absolute;
    left: 100px;
    top: 100px;
    text-align: center;
  }
}

h1{

text-align: center;
  font-size: 300px;
  font-family: nom;


}
.container1{
  text-align: center;;
    background-color: lightblue;
    


}
